# compiled output
/dist
/tmp
/out-tsc
/documentation
/coverage
src/**/*.js
src/**/*.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Logs
*.log
